<h1 id="tableLabel">Drugstore list</h1>
<br>

<div>
  <label>Consultar farmácia:
    <input placeholder="Nome" [(ngModel)]="requestDrugstore.name">
  </label>
  <label>Quantidade de resultados:
    <input placeholder="Insira um número" [(ngModel)]="requestDrugstore.maxResults">
  </label>
  <button (click)="search()">Consultar</button>
</div>

<a class="btn btn-success" routerLink="/drugstore/create">Nova farmácia</a>

<br /><br />

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="responseDrugstores">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Funciona 24h?</th>
      <th>Data de Fundação</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let drugstore of responseDrugstores">
      <td>{{ drugstore.name }}</td>
      <td>{{ drugstore.flgRoundTheClock }}</td> 
      <td>{{ drugstore.foundationDate }}</td>
      <td><a routerLink="/drugstore/update/{{drugstore.id}}" class="btn btn-primary">Editar</a></td>
      <td><a routerLink="/drugstore/delete/{{drugstore.id}}" class="btn btn-danger">Excluir</a></td>
    </tr>
  </tbody>
</table>
