<h1 id="tableLabel">Lista de Bairros</h1>
<br>

<div>
  <label>Consultar bairro:
    <input placeholder="Nome" [(ngModel)]="requestNeighborhood.name">
  </label>
  <label>Quantidade de resultados:
    <input placeholder="Insira um número" [(ngModel)]="requestNeighborhood.maxResults">
  </label>
  <button (click)="search()">consultar</button>
</div>

<p *ngIf="!responseNeighborhoods">Carregando...</p>
<br /><br />
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="responseNeighborhoods">
  <thead>
    <tr>      
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let neighborhood of responseNeighborhoods">
      <td>{{ neighborhood.name }}</td>      
    </tr>
  </tbody>
</table>
