<h1 id="tableLabel">Consultar Farmácias por bairro</h1>
<br>

<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Selecionar Bairro</mat-label>
    <mat-select [(ngModel)]="requestDrugstoreNeighborhood.neighborhoodId" [formControl]="neighborhoodList" required>
      <ng-container *ngFor="let neighborhood of neighborhoods">
        <mat-option [value]="neighborhood.id">{{neighborhood.name}}</mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="neighborhoodList.hasError('required')">Bairro obrigatório</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Funciona 24h?</mat-label>
    <mat-select [(ngModel)]="requestDrugstoreNeighborhood.roundTheClock" [ngModelOptions]="{standalone: true}">
      <mat-option [value]="0">--</mat-option>
      <mat-option [value]="true">Sim</mat-option>
      <mat-option [value]="false">Não</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" class="btn"
    [disabled]="isLoading || requestDrugstoreNeighborhood.neighborhoodId == ''" 
    (click)="search()">Pesquisar</button>
</div>

<table mat-table [dataSource]="responseDrugstores" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Identificador </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="flgRoundTheClock">
    <th mat-header-cell *matHeaderCellDef> Funciona 24h? </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.roundTheClock; else no">
        Sim
      </div>
      <ng-template #no>
        Não
      </ng-template>
    </td>
  </ng-container>  
  <ng-container matColumnDef="foundationDate">
    <th mat-header-cell *matHeaderCellDef> Data de Fundação </th>
    <td mat-cell *matCellDef="let element"> {{element.foundationDate | date: 'dd/MM/yyyy'}} </td>
  </ng-container>  
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/drugstore/update/{{element.id}}" mat-icon-button placeholder="Atualizar farmácia">
        <mat-icon color="primary">edit</mat-icon>
      </a>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/drugstore/delete/{{element.id}}" mat-icon-button>
        <mat-icon color="warn">delete_forever</mat-icon>
      </a>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
  <div *ngIf="!isLoading">
    <tr class="mat-row" *matNoDataRow><span>Nenhuma farmácia para exibir!</span></tr>
  </div>
</table>

<mat-card *ngIf="isLoading" class="card-loading">
  <mat-spinner class="loading" [diameter]="50"></mat-spinner>
</mat-card>