<h2>Cadastrar Farmácia</h2>

<div>
    <label>Nome:
        <input placeholder="Nome" [(ngModel)]="request.name">
    </label><br />
    <label>Funciona 24h?
        <input type="checkbox" [(ngModel)]="request.roundTheClock">
    </label><br />
    <label>Bairro:        
        <select [(ngModel)]="request.neighborhoodId">
            <option *ngFor="let neighborhood of neighborhoods" [ngValue]="neighborhood.id">{{neighborhood.name}}</option>
        </select>
    </label><br />
    <label>Data de Fundação:
        <input type="date" [(ngModel)]="request.foundationDate">
    </label><br />
    <button (click)="save()">Cadastrar</button>
    <button (click)="back()">Voltar</button>
</div>
